<h2>Books detail</h2>
<h3>Posted by</h3>
<%= image_tag 'no_image.jpg', width: 40 %>
<a href='#'><%= @book.user.name %></a>
<h3>Title</h3>
<p><%= @book.title %></p>
<h3>Opinion</h3>
<p><%= @book.opinion %></p>
<% if book_posted_by_current_user?(@book) %>
<div class="mt-4">
  <%= link_to 'Edit', edit_book_path(@book), class: 'btn btn-success' %>
  <%= link_to 'Destroy', book_path(@book), method: :delete, class: 'btn btn-danger' %>
</div>
<% end %>